extends layout

block content
	h3
		| Welcome to the Sea battle network game!

	ul
		li.double
			a(href='/map') View ships positions
		li.double
			a(href='/enemies') View enemies statistics
		li.double
			a(href='/status') View server status