extends layout

block content
	form(method='post', action='/map')
		h2 Battleships map
		hr
		#player.border
			for item, i in data.player.field
				for val, j in item
					if val == 0
						span.cell.empty
							| &nbsp;
					if val == 1
						span.cell.live
							| &nbsp;
					if val > 1
						span.cell.hit
							| &nbsp;
				br

		br
		#enemy.border
			for item, i in data.enemy.field
				for val, j in item
					if val == -1
						span.cell.unknown
							| &nbsp;
					if val == 0
						span.cell.empty
							| &nbsp;
					if val == 1
						span.cell.live
							| &nbsp;
					if val > 1
						span.cell.hit
							| &nbsp;
				br

		div(style="clear:both; padding: 10px")
		input#start(type="submit", value="Start")

	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='/js/client.js')