extends layout

block content
	h2 Battleships map
	hr
	.border
		for item, i in data
			for val, j in item
				if val == 0
					span.cell.empty
						| &nbsp;
				if val == 1
					span.cell.live
						| &nbsp;
				if val > 1
					span.cell.hit
						| &nbsp;
			br