body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.info {
	font-style: italic;
	color: #c0c0c0;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.rightFloated {
	margin-top: 0;
	float: right;
}

.backLink {
	float: right;
	font-size: 10pt;
	margin-top: 20px;
}

.double {
	line-height: 36px;
}

.border {
	border: 1px solid black;
	line-height: 10px;
    font-size: 10px;
	padding: 20px;
}

.border.dead {
    border: 10px solid black;
    padding: 15px;
}

#player {
    
}
#enemy {
    
}

.cell {
	width: 10px;
	height: 10px;
    display: inline-block;
}

.live {
	background-color: blue;
}

.hit {
	background-color: red;
}

.empty {
	background-color: #c0c0f0;
}

.unknown {
    background-color: #e0e0e0;
}
